{% extends 'homegoods/listbase.html'%}

<body>

    {% block content3 %}

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ gtype.title }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ gdatail.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ gdatail.gname }}</h3>
			<p>{{ gdatail.gsummary }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ gdatail.gprice }}</em></span>
				<span class="show_unit">单  位：{{ gdatail.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{% widthratio gdatail.gprice 1 1%}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				 <ul>
                    {% for goods_new in goods_news %}
                        <li>
                            <a href="/user/detail/{{ goods_new.id }}/"><img src="/static/{{ goods_new.gpic }}"></a>
                            <h4><a href="/{{ goods_new.id }}/">{{ goods_new.gname }}</a></h4>
                            <div class="prize">￥{{ goods_new.gprice }}</div>
                        </li>
                    {% endfor %}
                </ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ gdatail.gcontent|safe }} </dd>
				</dl>
			</div>

		</div>
	</div>


	<div class="add_jump"></div>

	<script type="text/javascript" src="js/jquery-1.12.2.js"></script>
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});

			});
		})

	</script>
        <script type="text/javascript">

            $('.num_show').blur(function() {
                var totals=0;
                counts = parseInt($('.num_show').val());
                if(counts<0)       <!-- #防止用户输入小数或者负数 -->
                { counts=1;}
                $('.num_show').val(counts);
                totals = counts*100*{{ gdatail.gprice }}/100;
                $('.total em').html(totals+'元').show();
            });
            $('.add').click(function() {
                var totals=0;
                counts = parseFloat($('.num_show').val())+1;
                $('.num_show').val(counts);
                totals = parseFloat(counts)*100*{{ gdatail.gprice }}/100;
                $('.total em').html(totals+'元').show();
            });
             $('.minus').click(function() {
                var totals=0;

                counts = parseFloat($('.num_show').val());
                if (counts>1)
                {
                    counts-=1;
                    $('.num_show').val(counts);
                    totals = parseFloat(counts)*100*{{ gdatail.gprice }}/100;
                    $('.total em').html(totals+'元').show();
                }
                else
                    return;

            });


        </script>
	{% endblock %}
</body>
