{% extends 'userinfo/header_base.html'%}

<body>
{% block content1 %}

	<div class="search_bar clearfix">
		<a href="{% url 'homegoods:userindex' %}" class="logo fl"><img src="/static/userinfo/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/user/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
        <script type="text/javascript">
            $(function () {
                if ($('.login_btn').text().indexOf('登录')>=0)//判断是否登录
                {
                    $('.goods_count').html(0);//#无登录
                }
                else
                {
                    $.get('/user/cart/',function (dic) {
                       $('.goods_count').html(dic.count);
                    })
                }

            });
        </script>
	</div>

    {% block content2 %}
    {% endblock %}
{% endblock %}
</body>